# Unifica las identidades de cada integrante en git shortlog / git log
Alan <desedasalan06@gmail.com> desedasalan06-bit <desedasalan06@gmail.com>
Nayeli Santacruz <nayeli.santacruz@gmail.com> NayeSantaClaus <nayeli.santacruz@gmail.com>
Víctor López <65050228+vicrenlopez14@users.noreply.github.com> <victor.lopez@echotechs.net>
